* {
  margin: 0;
}

.header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.title {
  margin-left: 10px;
  /* margin-top: 10px; */
  color: purple;
  font-weight: 500;
  font-size: 20px;
}
 .add_button {
  /* margin-top: 10px; */
  margin-right: 10px;
  background-color: purple;
  display: flex;
  color: white;
  padding: 10px;
  font-weight: lighter;
  border-radius: 8px;
  cursor: pointer;
}

/* App Body */

.app_body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cap {
  width: 500px;
  letter-spacing: 4px;
  word-spacing: 4px;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 50px;
}
.gen_btn button {
  background-color: purple;
  padding: 10px;
  color: white;
  font-weight: lighter;
  border-radius: 8px;
  cursor: pointer;
}
.questions {
  width: 700px;
  margin-top: 30px;
  height: 400px;
  padding: 30px;
  background-color: purple;
  color: white;
  font-weight: lighter;
  border-radius: 10px;
}

.questions > p {
  font-size: 20px;
  margin-bottom: 4px;
}

.modal {
  display: flex;
  flex-direction: column;
}